:root{
    --color-orange: #f4ac46;
    --color-orange-light: #fc6;
    --color-orange-lighter: #fe9;
    --color-black: #292f36;
    --color-blue: #297373;
    --color-green: #3c3;
    --color-grey: #999;
}

@font-face
{
	font-family: Raleway;
	src: url(../fonts/Raleway-SemiBold.ttf);
}

body {
    font-family: Raleway;
}

/* button colors: f4ac46 (orange), 292f36 (black), 297373 (blue) */

#top-part           { height: 35vh; overflow: auto; overflow-x: hidden; padding-bottom: 2vh; }
#alphabet-container { height: 10vh; }
#bottom-part        { max-height: 46vh; margin-top: 2vh; }

body.prelog #top-part { height: 30vh; overflow: hidden; }
body.prelog #alphabet { display: none; }
body.prelog #bottom-part { margin-height: 50vh; }
body.prelog .button-left, body.prelog .button-right { visibility: hidden; }

.top-info {
    margin-top: 10px;
    text-align: center;
    color: var(--color-grey);
}
.top-info span {
    color: var(--color-orange);
}


#alphabet {
    word-wrap: break-word;
    background-color: var(--color-blue);
    font-size: calc(15px + 2.2vw);
    text-align: center;
}

#sentence, #spelled, #words-list {
  font-size: calc(20px + 4vw);
  text-align: center;
}

#sentence, #spelled {
    max-height: 100%;
    overflow: auto;
    border: 0;
    outline: 0;
    line-height: 1.17em;
}

/*#words-list:not(.list-many) li.selected-word {
    font-size: calc(20px + 2.5vw);
}*/

#top-part { transition: .4s; }
#top-part.spelling-mode { background-color: var(--color-orange-lighter); transition: .4s; }
#top-part #spelled, #top-part.spelling-mode #sentence { display: none; }
#top-part.spelling-mode #spelled { display: block; }

/* warning: cursor selection does not work with ::first-letter
#sentence::first-letter {
    text-transform: capitalize;
}*/

#words-list {
    display: block;
    margin: 10px 0 0;
    padding: 1vw;
    line-height: 2em;
}

#words-list.list-several {
    padding: 0;
    line-height: 1em;
}

#words-list.list-2 { line-height: 1.5em; }
#words-list.list-3 { line-height: 1.4em; }
#words-list.list-4 { line-height: 1.2em; }
body.prelog #words-list.list-several { line-height: 1.2em; }

#words-list li { display: block; }
body:not(.prelog) #words-list.list-many li { display: inline-block; }

#words-list li.spelling {
    color: var(--color-orange); 
    font-style: italic;
}

.list-several li:before, .list-several li:after {
    content: " — ";
    color: transparent;
}
.list-several li.selected-word:before, .list-several li.selected-word:after { 
    content: " — ";
    color: var(--color-grey);
}

.newUserInput input {
    text-align: center;
    color: var(--color-blue);
    border-radius: 100px;
    border: 1px solid var(--color-blue);
    outline: 0;
}
.newUserInput input::placeholder {
    font-weight: normal;
    font-style: italic;
}

.prefix {
    color: var(--color-green);
}

.letter {
    display: inline-block;
    padding: 0.5vw;
    color: white;
}

.active {
    background-color: var(--color-orange);
}

a {
    margin: 1vh 0;
    height: 12vh;
    min-height: 50px !important;
    max-height: 100px !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: .2s;
}

a:hover {
    transition: .2s;
    background-repeat: no-repeat;
    background-size: contain;
}

#next-word, #previous-word { margin: 10vh 0; }

.button-left        { background-position: left 30% center; }
.button-left:hover  { background-position: left; }
.button-right       { background-position: right 30% center; }
.button-right:hover { background-position: right; }

#next-word          { background-image: url("../images/right.svg"); }
#next-word:hover    { background-image: url("../images/right_pressed.svg"); }
#previous-word      { background-image: url("../images/left.svg"); }
#previous-word:hover{ background-image: url("../images/left_pressed.svg"); }/* */

#spelling           { background-image: url("../images/spelling.svg"); }
#spelling:hover     { background-image: url("../images/spelling_pressed.svg"); }
#top-part.spelling-mode #spelling     { background-image: url("../images/spelling_pressed_orange.svg"); }
#validate           { background-image: url("../images/validate.svg"); }
#validate:hover     { background-image: url("../images/validate_pressed.svg"); }

#discard-all,
#discard-one        { background-image: url("../images/discard_all.svg"); }
#discard-all:hover,
#discard-one:hover  { background-image: url("../images/discard_all_pressed.svg"); }
#discard-one:before {
    content: "1";
    display: inline-block;
    position: relative;
    top: -1vw;
    width: 3.4vw;
    height: 3.4vw;
    min-width: 16px !important;
    min-height: 16px !important;
    background: var(--color-orange);
    border-radius: 100px;
    color: white;
    text-align: center;
    font-size: calc(10px + 1.4vw);
}
