@font-face
{
	font-family: Raleway;
	src: url(../fonts/Raleway-SemiBold.ttf);
}

body {
    font-family: Raleway;
}

/* button colors: f4ac46 (orange), 292f36 (black), 297373 (blue) */


#top-part           { height: 55vh; overflow: auto; }
#alphabet-container { height: 10vh; margin-top: 2vh; }
#bottom-part        { max-height: 26vh; margin-top: 2vh;  }

#alphabet
{
    word-wrap: break-word;
    background-color: #297373;
}

#sentence, #current-word, #alphabet
{
  font-size: calc(12px + 2.5vw);
  text-align: center;
}

#sentence {
    max-height: 100%;
    overflow: auto;
    border: 0;
    outline: 0;
}

/*#sentence::first-letter {
    text-transform: capitalize;
}*/

#current-word {
    margin: 10px 0;
    padding: 1vw;
}

.letter
{
    display: inline-block;
    padding: 0.5vw;
    color: white;
}

.active
{
    color: #f4ac46 !important;
}

a
{
    margin: 10px 0;
    height: 10vw;
    min-height: 50px !important;
    max-height: 100px !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    transition: .2s;
}

a:hover
{
    transition: .2s;
    background-repeat: no-repeat;
    background-size: contain;
}

.button-left {
    background-position: left 30% center;
}
.button-left:hover {
    background-position: left;
}



.button-right {
    background-position: right 30% center;
}
.button-right:hover {
    background-position: right;
}

#discard-word       { background-image: url("../images/button1.svg"); }
#discard-word:hover { background-image: url("../images/button1_pressed.svg"); }
#delete-word        { background-image: url("../images/button2.svg"); }
#delete-word:hover  { background-image: url("../images/button2_pressed.svg"); }
#restart            { background-image: url("../images/button3.svg"); }
#restart:hover      { background-image: url("../images/button3_pressed.svg"); }
#validate           { background-image: url("../images/button4.svg"); }
#validate:hover     { background-image: url("../images/button4_pressed.svg"); }

#next-word          { background-image: url("../images/right.svg"); }
#next-word:hover    { background-image: url("../images/right_pressed.svg"); }
#previous-word      { background-image: url("../images/left.svg"); }
#previous-word:hover{ background-image: url("../images/left_pressed.svg"); }/* */